#content
  .main-block, .main-content
    max-width: 1009px
    margin: auto
    background: #FFF
    border: none
    border-radius: 10px
    font-size: 14px
    font-family: 'Open Sans'
    +shadow(5px, 5px, 20px, 0, rgba(0,0,0,0.5))
  .main-block h1
    color: #000
    border: none
    font-size: 28px
    font-family: 'Gotham Nights'
    font-variant: normal
.block-title
  #content .block &
    color: #FFF
    border: none
    font-size: 28px
    font-family: 'Gotham Nights'
    font-variant: normal
  #content .block-inner-1 .block-inner-1 &
    color: #000
    font-size: 24px
    font-variant: normal
.block-outer
  max-width: 1009px
  margin: auto
