#theme-header
  height: 200px
  padding: 20px 10px 10px 10px

#user
  width: 100%
  color: #FFF
  font-family: 'Gotham Nights' 
  font-size: 15px
  a
    color: #FFF
    text-decoration: none
    strong
      color: #FFF
    &:hover
      text-decoration: underline
    i
      display: none
  #homepage-link i
    display: block
  #top-search
    display: none

#description-header
  width: 100%

#logo
  height: 180px
  width: 300px
  left: 50%
  position: absolute
  margin-left: -484px
  background: url('image/logo-cbsoft2016-white.png') no-repeat center center
  background-size: contain
  a
    width: 300px
    height: 180px
    display: block
  span
    display: none

#top-menu
  height: 55px
  top: 138px
  left: 50%
  right: 0
  position: absolute
  background: #D9085F url('image/nav-bg.png') no-repeat left bottom
  ul
    height: 35px
    margin: 0
    background: #352C4E
    text-align: left
    padding: 0px 30px 0px 100px
  li
    width: auto
    height: 35px
    display: inline-block
    float: none
    background: #D7D600
    cursor: pointer
    &:first-child
      background: #0075A6
    &:last-child
      background: #9E136F
    &:hover
      height: 34px
      border-bottom: 1px solid #FFF
  a
    padding: 0px 15px
    border: none
    color: #FFF
    font-size: 18px
    font-family: 'Gotham Nights'
    font-weight: 300
    line-height: 40px
    text-decoration: none

#past-edition
  height: 35px
  width: 135px
  display: block
  margin-top: 20px
  margin-left: 350px
  background-color: #00a19a
  a
    font-family: 'Gotham Nights'
    text-decoration: none
    font-size: 20px
    color: #fff
    text-transform: uppercase
