<%= render :partial => 'layouts/user' %>
<div id="description-header">
  <div id="logo">
    <%= link_to '<span>CBSOFT 2016</span>', '/'+profile.identifier %>
  </div>
  <div id="top-menu">
    <ul>
      <li><%= link_to 'XXX SBES', '/'+profile.identifier+'/sbes2016'%></li>
      <li><%= link_to 'XX SBLP', '/'+profile.identifier+'/sblp2016'%></li>
      <li><%= link_to 'X SBCARS', '/'+profile.identifier+'/sbcars2016'%></li>
    </ul>
    <div id="past-edition">
      <%= link_to '<span>Edições Anteriores</span>', '/'+profile.identifier+'/edicoes-anteriores' %>
    </div>
  </div>
</div>
